
body {
    margin: 5px;
}

.header1 {
    background-color: cadetblue;
    color: azure;
    margin-bottom: 10px;
}

.btn-digit {
    width: 100%;
    /*padding: 1rem;*/
    font-size: 2rem;
    margin-bottom: 1rem;
    border-radius: 50px;
}

.flexPanelCtrl1 {
    border: 1px solid dimgrey;
    padding: 1rem;
    box-shadow: 5px 5px;
    /*min-width: 20rem;*/
}

/*div.title1 {*/
/*    color: azure;*/
/*    background-color: gray;*/
/*    text-align: center;*/
/*}*/

.title1 {
    color: azure;
    background-color: gray;
    text-align: center;
    margin-bottom: 1rem;
}

.footer1 {
    margin-top: 1rem;
    padding: 5px;
    font-size: 5rem;
    border: 2px solid dimgrey;
    /*background-color: cadetblue;*/
}

footer .btn {
    font-size: 3rem;
    min-width: 25rem;
    border-radius: 0;
    /*box-shadow: 5px 5px;*/
}
