
.body {
    background-color: beige;
}

.header1 {
    background-color: cadetblue;
    color: azure;
    margin-bottom: 10px;
}

.btn-digit {
    width: 100%;
    /*padding: 1rem;*/
    font-size: 2rem;
    margin-bottom: 1rem;
    border-radius: 50px;
}
